
form {
    display: inline;
}
#sub{
    position: flex;
    border: none;
    position: relative;
    width: 159px;
    height: 50px;
    background-color: #404F37;
    color: white;
    border-radius: 7px;
    border-width: 1px;
    border-color: #778271;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    left: 80%;
    text-align: center;
    cursor: pointer;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 149px;
    height: 40px;
    background-color: #2B3626;
    color: white;
    z-index: 60;
    position: relative;
    
    border-radius: 5px;
    border-width: 1px;
    border-color: #778271;
    
    margin: auto;
    text-align: center;
    bottom: 15%;
    left: 5.1%;
    
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    
    cursor: pointer;
}
input{
    display: none;
}
h1{
    text-align: center;
    font-family: "Outfit", sans-serif ;
    
}

.foodPics{
    display: block;
    width: 523px;
    height: 316px;
    margin: auto;
    border-radius: 21px;
    
    z-index: 70;
    position: absolute;
    object-fit: contain;
    background-color: #404F37;
    visibility:hidden;
}
#box1{
    display:block;
    background-color: #404F37;
    width: 328px;
    height: 249px;
    top: 89px;
    left: -59px;
    border-radius: 21px;
    z-index:30;
    position: relative;
    color:white;
    padding-right: 20px;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 700;   
    color: white;
    text-align: right;

}



#bib{
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 700;   
    color: white;
    text-align: right;
    z-index:40;
    position: relative;
    top: 20px;
    
}
#bib1{
    display: block;
    font-size: 15px;
    font-weight: 500;
    text-align:justify;
    z-index: 40;
    position: relative;
    top: 20px;
    left: 70px;
    line-height: 2;
    font-style: italic;
}
hr{
    width: 345px;
    border-color: #545D4E;
    border-style: solid;
    top:20px;
    position:relative;

}
#box2{
    display: block;
    width: 1299px;
    height: 559px;
    border-radius: 21px;
    background-color: #2b3626;
    bottom: 220px;
    left: 202px;
    z-index: 20;
    position: relative;

}

.uImage{
    display: block;
    width: 523px;
    height: 316px;
    border-radius: 21px;
    background-color: #404F37;
    position: relative;
    z-index: 30;
    top: 21%;
    left: 5%;
    margin: 60px auto;
}

#foodIcon{
    display: block;
    top: 7%;
    left: 42.5%;
    width: 80px;
    height: 79px;

    margin: 45px auto;
    border-radius: 21px;
    
    position: absolute; 
}
label[for="takeP"]{
    display: flex;
    width: 149px;
    height: 40px;
    background-color: #2B3626;
    color: white;
    z-index: 70;
    position: relative;
    
    border-radius: 5px;
    border-width: 1px;
    border-color: #778271;
    
    margin: auto;
    text-align: center;
    bottom: 10%;
    left: 5.1%;
    
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    
    cursor: pointer;
}
#logo{
    width:50px;
    height:50px;
    display: flex;
    position: relative;
    z-index: 90;
    right: 10px;
    

}
h1{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    font-weight: 700;
    top: 175px;
    right: 45%;
    display: block;
    text-align: center;
    z-index: 100;
    position: relative;
}
#logo{
    width: 8%;
    height: 8%;
    z-index: 100;
    position: relative;
    left: 3%;
    top: 85px;
}
.bcon{
    display: flex;
    
}
#Pic1{
    display: flex;
    border-style: none;
    border-radius: 70%;
    height: 15px;
    width: 15px;
    left: 48.85%;
    z-index: 90;
    position: relative;
    background-color: #778271;
    cursor: pointer;
}
#Pic2{
    display: flex;
    border-style: none;
    border-radius: 70%;
    height: 15px;
    width: 15px;
    left: 53.35%;
    z-index: 90;
    position: relative;
    background-color: #778271;
    cursor: pointer;
}
#Pic3{
    display: flex;
    border-style: none;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    left: 57.85%;
    z-index: 90;
    position: relative;
    background-color: #778271;
    cursor: pointer;
}

